<%# <h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_232/vue-a%C3%A9rienne-paris-tour-eiffel-%7C-630x405-%7C-%C2%A9-thinkstock-image/5069998-1-fre-FR/Vue-a%C3%A9rienne-Paris-Tour-Eiffel-%7C-630x405-%7C-%C2%A9-Thinkstock-Image.jpg);">
<h1 class="text-center my-5"> MES RÉSERVATIONS</h1>
</div>
<div class="container">
  <p><%= @bookings.each do |booking| %></p>
  <div class="d-flex justity-content-around bg-white">
    <li class="list-unstyled opacity-100"><%= @bookings.offer.photo %></li>
    <div class="d-flex justify-content-center flex-column">
      <li>Début: <%= booking.start_time %></li>
      <li>Fin: <%= booking.end_time %></li>
    </div>
  </div>
  <% end %>
</div>
</div>
