<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shutterstock.com/image-photo/aerial-view-paris-eiffel-tower-260nw-1298528866.jpg);">
  <div class="container">
    <h1><strong> RENTAL APARTMENT</strong></h1>
    <p>Location entre particulier</p>
      <%= link_to 'Voir tous les locations', offers_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container d-flex justify-content-center text-center mt-5">
  <div>
    <h3>LES APPARTEMENTS LES MIEUX NOTÉS: </h3>
  </div>
  </div>
  <div class="d-flex flex-justify-content-center text-center">
  </div>
    <div class="d-flex flex-columnjustify-content-center">
    </div>
      <div class="cards shadow-lg p-3 mb-5 bg-body rounded">
         </div>
  </div>
